/* Macan */
@font-face {
  font-family: "Macan";
  src: url("./macan_fonts/macan-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Macan";
  src: url("./macan_fonts/macan-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Macan";
  src: url("./macan_fonts/macan-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Macan";
  src: url("./macan_fonts/macan-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Domaine Display */
@font-face {
  font-family: "DomaineDisplay";
  src: url("./macan_fonts/domaine-display-web-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DomaineDisplay";
  src: url("./macan_fonts/domaine-display-web-medium-italic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DomaineDisplay";
  src: url("./macan_fonts/domaine-display-web-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
