.foot_top {
  .foot_top_content {
    .destop_view {
      ul {
        font-weight: bold;

        li {
          color: #74767e;
          margin-bottom: 16px;
          &:first-child {
            margin-top: 16px;
          }
        }
      }
    }

    .ant-collapse {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      ul {
        li {
          color: #74767e;
        }
      }
      @media (min-width: 768px) {
        .ant-collapse-item {
          border: none;
          font-size: 16px;
          .ant-collapse-header {
            font-weight: bold;
            .ant-collapse-expand-icon {
              display: none;
            }
          }

          .ant-collapse-content {
            // display: block !important;
            // height: auto !important;
            // overflow: visible;
            ul {
              li {
                padding-bottom: 16px;
              }
            }
          }
        }
      }
    }
  }
}
.foot_bottom {
  font-size: 14px;
  padding: 14px;
  color: #74767e;
  .bottom_left {
    h3 {
      color: #b5b6ba;
      margin-left: 24px;
      padding-top: 8px;
    }
  }
  .bottom_right {
    .social {
      ul {
        padding-right: 24px;

        li {
          padding-right: 24px;
          width: 25px;
          height: 25px;
          // line-height: 25px;
          svg {
            width: 25px;
            height: 25px;
          }
          // i {
          //   width: 24px;
          //   height: 24px;
          // }
          a {
            &:hover {
              background-color: #efeff0;
              border-radius: 50%;
              margin: -8px;
              padding: 18px 9px 9px;
              // transition: background-color 0.2s;
            }
          }
        }
      }
    }
    .setting_button {
      .nFghBOe {
        svg {
          fill: #74767e;
        }
      }
    }
    .wrapper {
      stroke: #74767e;
      .accessibility-icon {
        &:hover {
          fill: #404145;
        }
      }
    }
  }
}
